@charset "utf-8";
@import "utils/colors";
@import "utils/mixin";
@import "utils/function";

.address-list-view {
    @include clear-header();

    .address-reality, .address-virtual {
        padding: 0 pxToRem(25);
        margin-top: pxToRem(30);
        background: $back-color;
    }
    .address-header {
        @include box(center, justify);
        height: pxToRem(78);
        font-size: pxToRem(30);
        border-bottom: pxToRem(1) solid $line-color;
        i {
            font-size: pxToRem(32);
            margin-right: pxToRem(20);
        }
        .header-left {
            @include box(center, start);
        }
        .header-right {
            color: $font-color;
            font-size: pxToRem(26);
        }
        .def-tag {
            display: block;
            width: pxToRem(60);
            height: pxToRem(30);
            line-height: pxToRem(30);
            margin-left: pxToRem(20);
            text-align: center;
            font-size: pxToRem(22);
            color: $back-color;
            background: $main-color;
            @include border-radius(pxToRem(5));
        }
    }
    .address-body {
        @include box(start, start);
        padding-bottom: pxToRem(20);
        font-size: pxToRem(28);
        color: $font-color;
        p {
            margin-top: pxToRem(20);
            line-height: 1.2;
        }
        .box-left {
            width: pxToRem(152);
        }
        .user-address {
            width: pxToRem(440);
            color: $title-color;
        }
    }
}
