@charset "utf-8";

$help-bg: url(../images/help-bg.png);
$help-header-img: url(../images/help-pic.png);
$add-qq: url(../images/add-qq.png);

$code-img: url(../images/icon.png);
$about-title1: url(../images/about-pic1.png);
$about-title2: url(../images/about-pic2.png);
$about-title3: url(../images/about-pic3.png);
$about-head-img: url(../images/logo.png);

$card-img: url(../images/ecard.png);
$phone-img: url(../images/phone.png);

$query-no: url(../images/no.png);
$query-btn-img: url(../images/server.png);

$query-jd-head-img: url(../images/query-jd.png);

$index-pk-img: url(../images/index_pk.png);
$index-about-img: url(../images/index_about.png);
$index-formula-img: url(../images/index_formula.png);
$index-service-img: url(../images/index_service.png);

$icon-redpack: url(../images/redpack-icon.png);
$icon-money: url(../images/xuyuanbi-icon.png);
$icon-luck: url(../images/luckybea-icon.png);
$icon-qcode-share: url(../images/qcode-share.png);
$icon-wechat: url(../images/wechat-icon.png);
$icon-friend: url(../images/firend-icon.png);
$icon-invited: url(../images/invited-header.png);
$icon-like: url(../images/like-icon.png);
$icon-shop-cart: url(../images/shop-cart-icon.png);

$winnerImg: url(../images/pic_winner.png);
$pk-header-img: url(../images/pic_head_pk.png);
$red-pack-border: url(../images/redpack-boder.png);
