@charset "utf-8";
@import "utils/colors";
@import "utils/mixin";
@import "utils/function";

.old-order-list {
    @include clear-header();
    margin-bottom: pxToRem(100);

    .list-header {
        height: pxToRem(60);
        line-height: pxToRem(60);
        font-size: pxToRem(24);
        padding-left: pxToRem(25);
        border: {
            top: pxToRem(1) solid $line-color;
            bottom: pxToRem(1) solid $line-color;
        };
    }
    .list-body {
        @include box(center, justify);
        height: pxToRem(140);
        padding: 0 pxToRem(25);
        background: $back-color;
    }
    .list-img {
        @include border-box(70);
        overflow: hidden;
    }
    .user-info {
        width: 76%;
        font-size: pxToRem(26);
        color: $font-text-color;
        .name {
            color: $btn-back-color;
        }
        .user-number {
            margin: pxToRem(8) 0;
        }
    }
}
