@charset "utf-8";
@import "utils/colors";
@import "utils/mixin";
@import "utils/function";

.recharge-view {
    @include clear-header();
    .pay-method {
        background: $back-color;
    }
    .recharge-text {
        padding: pxToRem(25);
        line-height: 1.3;
        font-size: pxToRem(28);
        color: $font-color;
        text-indent: 2em;
    }
    .recharge-money {
        margin-bottom: pxToRem(20);
        background: $back-color;
        padding: {
            left: pxToRem(25);
            right: pxToRem(25);
        }
        .money-header {
            height: pxToRem(80);
            line-height: pxToRem(80);
            font-size: pxToRem(28);
            color: $font-color;
        }
    }
    .change-result {
        display: inline-block;
        width: pxToRem(170);
        height: pxToRem(60);
        margin-bottom: pxToRem(40);
        line-height: pxToRem(64);
        color: $font-color;
        border: pxToRem(1) solid $font-color;
        text-align: center;
        &:nth-child(2) {
            margin: {
                left: pxToRem(30);
                right: pxToRem(30);
            }
        }
        &:nth-child(5) {
            margin: {
                left: pxToRem(30);
                right: pxToRem(30);
            }
        }
        input {
            width: 90%;
            height: 80%;
            font-size: pxToRem(28);
            color: $font-color;
            vertical-align: middle;
            text-align: center;
            &::-webkit-input-placeholder {
                color: #b4b4b4;
                vertical-align: top;
            }
        }
    }
    .active {
        border: pxToRem(1) solid $main-color;
    }
    %pay-line {
        padding: 0 pxToRem(20);
        @include box(center, justify);
        height: pxToRem(90);
        font-size: pxToRem(28);
        color: $font-text-color;
    }
    .pay-go {
        position: fixed;
        left: 0;
        bottom: 0;
        @include box();
        z-index: 999;
        width: 100%;
        height: pxToRem(120);
        background: $back-color;
        .pay-btn {
            display: block;
            width: 90%;
            height: pxToRem(80);
            background: $main-color;
            font-size: pxToRem(34);
            color: $back-color;
            @include border-radius(pxToRem(5));
        }
    }
    .method-title {
        @extend %pay-line;
        line-height: pxToRem(90);
        height: pxToRem(90);
        border-bottom: pxToRem(1) solid $line-color;
    }
    .method-lists {
        @extend %pay-line;
        height: 100%;
        li {
            width: 100%;
            height: pxToRem(110);
            @include box(center, justify);
            .method-name {
                color: $title-color;
            }
            .method-info {
                margin-top: pxToRem(8);
                font-size: pxToRem(22);
                color: $font-color;
            }
        }
        .pay-left-box {
            @include box();
        }
        .pay-logo {
            display: block;
            margin-right: pxToRem(16);
            width: pxToRem(66);
            height: pxToRem(66);
            @include border-radius(pxToRem(10));
        }
        .radio-box {
            @include border-box(28);
            border: pxToRem(2) solid $line-color;
            @include box();
            .radio {
                @include border-box(15);
                background: #3ce076;
            }
        }
    }
}
