@charset "utf-8";
@import "../utils/colors";
@import "../utils/mixin";
@import "../utils/function";

.toast-view {
    position: fixed;
    bottom: pxToRem(160);
    width: 100%;
    font-size: pxToRem(24);
    color: #fff;
    .message-box {
        width: pxToRem(240);
        height: pxToRem(50);
        line-height: pxToRem(50);
        margin: 0 auto;
        text-align: center;
        background: rgba(000, 000, 000, .6);
        @include border-radius(pxToRem(45));
    }
}

.toast-anim-down {
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
    animation: toast-down .3s ease-out 0s 1;
}

@keyframes toast-down {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
